* {
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
}

body {
    background-color: #FFDBAF;
    color: #5A20B2;
}

.range-field {
    margin-bottom: 50px;
}

.naslov {
    background-color: #B483FF;
    height: 50px;
    border-radius: 50px;
    margin: 5px;
}

.postotci {
    margin-top: 40px;
}

.izracun {
    font-weight: bold;
    font-size: 2em;
    margin: 20px;
}

.izracunBroj {
    font-size: 3em;
}

.postotciContainer {
    font-size: 2rem;
    color: #3d094b;
    background-color: rgba(255,255,255,0.4);
    border-radius: 30px 0 0 0;
    height: 250px;
}

.izracunContainer {
    background-color: #2CB24A;
    height: 250px;
    border-radius: 0 30px 0 0;
    display: block;
}

.brojevi {
    background-color: rgba(255,255,255,0.3);
    border-radius: 0 30px 0 0;
    height: 250px;  
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 601px) {
    .postotciContainer {
        border-radius: 30px 30px 0 0;
    }
    .izracunContainer {
        border-radius: 0;
    }
}

label {
    font-weight: bolder;

}